<p>
    <strong>Welcome to the Fleetbase Extension Server</strong>, here you can register as an Extension publisher to publish extensions. 
    To get started you just need to login or create an account.
</p>

<div class="mt-6 flex flex-row items-center space-x-4">
    <a href="/publishers/login" class="btn btn-default">Publisher Login</a>
    <a href="/publishers/register" class="btn btn-default">Publisher Registration</a>
</div>