<form id="login-form">
    <h3 class="text-white text-lg font-bold mb-2">Publisher Login</h3>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-input" required>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-input" required>
    </div>

    <div class="flex flex-row items-center">
        <input type="submit" class="btn btn-primary my-2 mr-3" value="Login">
        <a href="/publishers/register">or register as publisher</a>
    </div>
</form>